<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kontakt - Le Scheffon</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
  <div class="logo">
    <h1>Le Scheffon</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/forside">Hjem</a></li>
      <li><a href="/nyOrdrer">Bestil Bord</a></li>
      <li><a href="/seOrdrer">Se bestillinger</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </nav>
</header>


<section class="contact">
  <h2>Kontakt os</h2>
  <p>Her er restaurantens informationer:</p>

  <div class="contact-info">
    <h3>Head Cheff:</h3>
    <p>Mr. Scheffon</p>
    <img src="/css/images/scheffon.jpg" alt="" width="400px" height="532px">
  </div>

  <div class="contact-info">
    <h3>Cheff:</h3>
    <p>Hannibal Ussing</p>
  </div>

  <div class="contact-info">
    <h3>Server:</h3>
    <p>Alessia Krüger</p>
  </div>

  <div class="contact-info">
    <h3>Adresse:</h3>
    <p>Nordens Plads 4. 7. 7</p>
  </div>

  <div>
    <h3>Remember to bring your new house shoes, as the floor can be a bit cold in the restaurant</h3>
  </div>
</section>

<footer>
  <p>&copy; 2025 Le Cheffon. Alle rettigheder forbeholdt.</p>
</footer>
</body>
</html>
